* {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.75vh;
}

body {
    display: flex;
    /* min-height: 100vh; */
    max-width: 100vw;
    margin: 0px;
    background-color:#e9edf4
}

h1, h2, h3 {
    margin: 6%;
    margin-top: 10%;
    font-size: 2.25vh;
}

h4 {
    font-size: 3.75vh;
    margin-bottom: 5%;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.aside {
    color: #bbc3cb;
    height: auto;
    width: 14.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(28, 39, 46);
}

.profile {
    width: 100%;
    padding-bottom: 3%;
    display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	--img-url: url(https://media.gettyimages.com/photos/rod-serling-in-odyssey-of-flight-33-episode-18-season-2-of-cbs-picture-id90341232?k=20&m=90341232&s=612x612&w=0&h=mfyKxRFt04lYx_uiUF9NHyWhlIODowVMaeJiwEd6hV0=);
}

.profile-pic {
	flex-shrink: 0;
	margin: 20px;
    height: 18vh;
    width: 18vh;
    border: 1vh solid transparent;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-size: cover;
	box-sizing: border-box;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
	background-image: var(--img-url), linear-gradient(to bottom right, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}

.profile-pic:hover {
    animation: spin 5s linear infinite;
    cursor: pointer;
}

.aside-section {
    width: 100%;
    padding-bottom: 8%;
    text-align: left;
}

.aside-icon-containers {
    display: flex;
    align-items: center;
    padding: 5%;
}

.aside-icon-containers:hover .aside-icon-text, .checkbox[type=checkbox] {
    background: -webkit-linear-gradient(left, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 250% 250%;
    -webkit-animation: gradient 3s ease infinite;
    cursor: pointer;
}

.aside-icon-containers:hover .aside-icons {
    cursor: pointer;
    filter: invert(76%) sepia(43%) saturate(3406%) hue-rotate(335deg) brightness(99%) contrast(95%);
}

.aside-icons {
    width: 9%;
    padding: 2%;
    filter: invert(63%) sepia(16%) saturate(169%) hue-rotate(169deg) brightness(89%) contrast(82%);
}

.aside-icon-text {
    padding: 3%;
    text-align: left;
    width: 70%;
}

.aside-line {
    background: -webkit-linear-gradient(left, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    height: .4vh;
    width: 100%;
}

.checkbox[type="checkbox"] {
    accent-color: #f79533;
    width: 3vh;
    height: 2.5vh;
}

.search-section {
    display: flex;
    height: 12vh;
    width: 100%;
}

.search {
    width: 80%;
    font-size: 2.75vh;
}

.search-icons {
    padding: 2.5%;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
}

.search-icons:hover {
  background-color: #426d8e;;
  filter: invert(120%) sepia(20%) saturate(169%) hue-rotate(180deg) brightness(90%) contrast(80%);
  cursor: pointer;
}

.main {
    /* min-height: 100%; */
    width:85.5%;
    border: 1px solid black;
}

.info-and-nav {
    border-bottom: 1px solid grey;
    height: 30vh;
}

.info {
    display: flex;
    justify-content: space-evenly;  
    align-items: center;
    margin-right: 4%;
    margin-left: 2%;
}

/* .info-icons {
    padding-left: 6%;
} */

.info-buttons {
    width: 7vh;
    height: 7vh;
    border: gray solid .6vh;
    border-radius: 50%;
    opacity: .5;
}

.active {
    width: 18vh;
    border-radius: 8vh;
}

.info-buttons:hover, .info-buttons-active:hover {
    opacity: .9;
    cursor: pointer;
}

.info-button-icons {
    width: 2.5vh;
}

.title-and-location {
    width: 40%;
    margin: 2% 25% 4.9% 0%;
}

.location-container {
    display: flex;
}

.location-icon {
    height: 2vh;
    padding-right: .5%;
}

.nav-options {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 1.6vh 0vh 0vh 3vh;
    width: 100%;
}

.nav:hover {
    border-bottom: .75vh solid #7a98cd;
    cursor: pointer;
    height: 100%;
    font-weight: bold;
}

.analytics-and-job {
    background-color: #bbc3cb;
    height: auto;
    width: 100%;    
}

.analytics-container {
    height: 47vh;
    width: 100%;
    border-bottom: 1px black solid;
}

.job-links-container {
    width: 100%;
    height: 125vh;
    display: flex;
    justify-content: space-around;
}

.job-description-section {
    width: 60%;
    list-style-type: none;
    /* border: .15vh solid slategrey; */
    background-color: #f3f4f2;
    padding: 0;
    margin: 10vh 0vw 0vh 5vw;
    display: flex;
    flex-direction: column;
    height: 109vh;
    box-shadow: 1vh 1vh 1vh #8646b3;
}

.job {
    width: 100%;
    height: 11vh;
    background-color: #f3f4f2;
    display: flex;
    align-items: center;
    color: #515b65;
}

.job-category {
    width: 20%;
    height: 9vh;
    padding: 4.5vh;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.job-info {
    width: 80%;
    height: 9vh;
    padding: 4vh;
    display: flex;
    align-items: center;
}

.description {
    height: 20vh;
}

.gart {
    width: 4vh;
    border-radius: 50%;
    margin-left: 4vh;
}

.line {
    width: 92%;
    border-bottom:#afb5b7 solid 1px;
    align-self: center;
    background-color: #eaebe5;

}

.top {
    background-color: #5d85a3;
    border-bottom: .15vh solid slategrey;
    color: #e3e7ec
}

.edit {
    height: 4vh;
    width: 9vh;
    background-color: #6d8b97;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .1vh dashed #c6cdd5;
}

.edit:hover {
    background-color: #c0cace;
    border: .1vh dashed #6d8b97;
    color: #6d8b97;
    cursor: pointer;
}

.links-container {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.social {
    height: 7.5vh;
    width: 42vh;
    box-shadow: .5vh .5vh 1vh #3c393e;
    margin: 0vh 3vw 3vh 3vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 2.1vh;
    color: #ffffff;
}

.social:hover {
    cursor: pointer;
    filter: invert(103%) sepia(16%) saturate(169%) hue-rotate(169deg) brightness(90%) contrast(62%);
}

.social-icons {
    width: 9%;
    padding: 2%;
    margin: 0vh 3vw 0vh 2vw;
    filter: invert(100%) sepia(4%) saturate(12%) hue-rotate(26deg) brightness(103%) contrast(100%);
}

.facebook {
    background-color: #3b5998;
}

.twitter {
    background-color: #00acee;
}

.linkedin {
    background-color: #0072b1;
}

.flex {
    display: flex;
}

/* ANIMATION CSS */
@keyframes spin {
    from {
      transform: scale3d(1, 1, 1) rotateZ(0deg);
    }
    to {
      transform: scale3d(1, 1, 1) rotateZ(360deg);
    }
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}