* {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.75vh;
}

body {
    display: flex;
    min-height: 100vh;
    max-width: 100vw;
    margin: 0px;
}

h1, h2, h3 {
    margin: 6%;
    margin-top: 10%;
    font-size: 2.25vh;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.aside {
    color: #bbc3cb;
    height: 100%;
    width: 14.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(28, 39, 46);
}

.profile {
    width: 100%;
    padding-bottom: 3%;
    display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	--img-url: url(https://media.gettyimages.com/photos/rod-serling-in-odyssey-of-flight-33-episode-18-season-2-of-cbs-picture-id90341232?k=20&m=90341232&s=612x612&w=0&h=mfyKxRFt04lYx_uiUF9NHyWhlIODowVMaeJiwEd6hV0=);
}

.profile-pic {
	flex-shrink: 0;
	margin: 20px;
    height: 18vh;
    width: 18vh;
    border: 1vh solid transparent;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-size: cover;
	box-sizing: border-box;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
	background-image: var(--img-url), linear-gradient(to bottom right, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}

.profile-pic:hover {
    animation: spin 5s linear infinite;
    cursor: pointer;
}

.aside-section {
    width: 100%;
    padding-bottom: 8%;
    text-align: left;
}

.aside-icon-containers {
    display: flex;
    align-items: center;
    padding: 5%;
}

.aside-icon-containers:hover .aside-icon-text, .checkbox[type=checkbox] {
    background: -webkit-linear-gradient(left, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 250% 250%;
    -webkit-animation: gradient 5s ease infinite;
    cursor: pointer;
}

.aside-icon-containers:hover .aside-icons {
    cursor: pointer;
    filter: invert(76%) sepia(43%) saturate(3406%) hue-rotate(335deg) brightness(99%) contrast(95%);
}

.aside-icons {
    width: 9%;
    padding: 2%;
    filter: invert(63%) sepia(16%) saturate(169%) hue-rotate(169deg) brightness(89%) contrast(82%);
}

.aside-icon-text {
    padding: 3%;
    text-align: left;
    width: 70%;
}

.aside-line {
    background: -webkit-linear-gradient(left, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    height: .4vh;
    width: 100%;
}

.checkbox[type="checkbox"] {
    accent-color: #f79533;
    width: 3vh;
    height: 2.5vh;
}

.search-section {
    display: flex;
    height: 8%;
    width: 100%;
}

.search {
    width: 80%;
    font-size: 2.75vh;
}

.search-icons {
    padding: 2.5%;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
}

.search-icons:hover {
  background-color: #5274a3;
  filter: invert(120%) sepia(20%) saturate(169%) hue-rotate(180deg) brightness(90%) contrast(80%);
  cursor: pointer;
}

.main {
    min-height: 100%;
    width:85.5%;
    border: 1px solid black;
}

.info-and-nav {
    border-bottom: 1px solid grey;
    height: 20%;
}

.info {
    display: flex;
    justify-content: space-around;  
    align-items: center;
    margin-right: 10%;
}

.info-buttons-active {
     width: 14vh;
     height: 8vh;
     border: gray solid .6vh;
     border-radius: 8vh;
     opacity: .5;
}

.info-buttons {
    width: 8vh;
    height: 8vh;
    border: gray solid .6vh;
    border-radius: 50%;
    opacity: .5;
}

.info-buttons:hover, .info-buttons-active:hover {
    opacity: .9;
    cursor: pointer;
}

.info-button-icons {
    width: 2.5vh;
}

.title-and-location {
    width: 40%;
    margin: 4% 25% 7% 0%;
}

.location-container {
    display: flex;
}

.location-icon {
    height: 2vh;
    padding-right: .5%;
}

.nav-options {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0px;
    width: 100%;
}

.graphs {
    background-color: #bbc3cb;
    height: 72%;
}


/* ANIMATION CSS */
@keyframes spin {
    from {
      transform: scale3d(1, 1, 1) rotateZ(0deg);
    }
    to {
      transform: scale3d(1, 1, 1) rotateZ(360deg);
    }
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}